{% extends 'usercenter-base.html' %}
{% load staticfiles %}
{% block title %}我的课程 - 悦耳网{% endblock %}

{% block custom_css %}{% endblock %}
{% block custom_js %}{% endblock %}

{% block custom_bread %}
    <section>
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="{% url 'index' %}">首页</a>></li>
			<li>个人中心></li>
			<li>我的课程</li>
		</ul>
	</div>
</section>
{% endblock %}

{% block right_content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>我的课程</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    {% for all_course in all_courses %}
                        <div class="module1_5 box">
                            <a href="{% url 'course:course_detail' all_course.course.id %}">
                                <img width="214" height="190" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ all_course.course.image }}" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:course_detail' all_course.course.id %}"><h2>{{ all_course.course.name }}</h2></a>
                                <span class="fl">课时：<i class="key">{{ all_course.course.learn_time }}</i></span>
                                <span class="fr">学习人数：{{ all_course.course.students }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ all_course.course.course_org.name }}</span>
                                <span class="star fr  notlogin" data-favid="15">{{ all_course.course.fav_nums }}</span>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}